/* You can add global styles to this file, and also import other style files */

.container {
    margin-top: 25px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}